body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.App {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 50px;
  padding: 20px;
  overflow: hidden;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
}

.see-list-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}
